<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
       <p>
         Mise à jour : {{lastUpdate |async |date:'y MMMM' }}
       </p>
        <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
                       [appareilName]="appareil.name" 
                       [appareilStatus]="appareil.status"
                       [index]="i"
                       [id]="appareil.id" >
        </app-appareil>

      </ul>
    </div>
  </div>
  <button class="btn btn-success" [disabled]="!isAuth"(click)="onAllumer()">Tout Allumer</button>
  <button id ="test2"
  class="btn btn-danger"
  [disabled]="!isAuth"
  (click)= "onEteindre()">Tout éteindre
  </button>
  <button class="btn btn-primary"
  (click)="onSave()">Enregistrer les appareils</button>
  <button class="btn btn-primary"

        (click)="onFetch()">Récupérer les appareils</button>
  <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <app-piege-particule></app-piege-particule>
        </div>
      </div>
    </div>      
</div>