
<button class="btn btn-success"
        *ngIf="!isAuth"
        (click)="onConnect()">Authentification
</button>
<button class="btn btn-danger"
        *ngIf="isAuth"
        (click)="onDisConnect()">Déconnection
</button>
