<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form (ngSubmit)=onSubmit(f) #f="ngForm">
        <div class="form-group">
  
          <label for="name">
  
            Nombre de particule
  
          </label>
  
          <input type="text" id="name" class="form-control" name="nombreParticule" ngModel required>
  
        </div>
        <button class="btn btn-primary" type="submit"  [disabled]="f.invalid">Enregistrer</button>
      </form>
    </div>
  <div>
    <ul *ngFor="let particule of particules; let i = index">
      <label> x: </label> {{particule.position.x}}
      <label> y: </label>{{particule.position.y}}
      <label> z: </label>{{particule.position.z}}
    </ul>
  </div>
</div>


