<li [ngClass]= "{'list-group-item' :true, 
'list-group-item-success':appareilStatus ==='allumé',
'list-group-item-danger': appareilStatus ==='éteint' }">
  <h4 [ngStyle]="{color:getColor()}">Appareil: {{appareilName}}-- Statut : {{getStatus()}}</h4>
  <a [routerLink]="[id]">Détail</a>
  <input class="form-control" type="text" [(ngModel)]="appareilName">
  <button class="btn btn-danger"
          *ngIf="appareilStatus=='allumé'"
          (click)="onSwitch()">Eteindre
  </button>
  <button id="test"
  class="btn btn-success"

  (click)="onSwitch()">Allumer
</button>

</li>
  <!-- *ngIf="appareilStatus=='éteint'" -->